
html,body{
    height: 100%;
    background-color: #fff;
}
ul{
    list-style:none;
    padding: 0;
    margin: 0;
}
img{
    display: block;
    width: 100%;
}

.lt-container{
width: 100%;
height: 100%;
max-width:640px;
min-width:320px;
margin:0 auto;
position: relative;
padding-top: 45px;
padding-bottom: 55px;

}
.lt-header{
    height: 45px;
    width: 100%;
    /* 移动端一般头部用固定定位做 */
    position: absolute;
    left: 0;
    top: 0;
    background-color: #006699;
    padding: 0 45px;
}
.lt-header .left,
.lt-header .right{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
}
.lt-header .left{
    left: 0;
}
.lt-header .right{
    right: 0;
}
.lt-header a{
    display: block;
    width: 45px;
    height: 45px;
    text-align:center;
    line-height: 45px;
    color:#fff;
    font-size: 20px;
}
.lt-header .middle{
    width: 100%;
    height: 45px;
}
.lt-header .middle h3{
    text-align:center;
    height: 45px;
    line-height: 45px;
    margin: 0;
    font-weight:normal;
    font-size: 20px;
    color:#fff;
}
.lt-footer{
    height: 55px;
    width: 100%;
    background-color: #006699;
    position: absolute;
    /* overflow:hidden; */
    left: 0;
    bottom: 0;
}
.lt-center{
    width: 100%;
    height: 100%;
    position: relative;
}
.lt-footer ul li{
    float: left;
    width: 25%;
    height: 55px;
    text-align:center;
}
.lt-footer ul li a{
    display: block;
    height: 100%;
    padding-top: 6px;
    color:#fff;
}
.lt-footer ul li.current a,
.lt-footer ul li.current p{
    color:orange;
}
.lt-footer ul li a p{
    COLOR:#FFF;
    padding: 0;
    margin: 0;
}

/* 搜索框的样式 */
.lt-search{
 padding: 10px;
 width: 100%;
 height: 54px;
 position: relative;
}
.lt-search input{
 border:1px solid #007AFF;
 margin: 0;
 padding: 0;
 height: 100%;
 border-radius:5px;
 font-size: 12px;
 padding-left: 10px;
    
}
.lt-search .btnSearch{
    position: absolute;
    right: 10px;
    top: 10px;
}


/* 产品区域 */
.lt-products{
    padding: 10px;
}
.lt-products li{
    float: left;
    width: 48%;
    border:1px solid #ccc;
    border-radius:10px;    
    background-color: #fff;
    margin-bottom: 10px;
    
}
.lt-products li:nth-child(odd){
    margin-right: 4%;
}
.lt-products li a{
    display: block;
    text-align:center;
    padding: 10px;
}
.lt-products p{
    margin: 0;
}
.lt-products span{
    font-size: 14px;
}
.price{
    color:red;
}
.oldprice{
    text-decoration: line-through;
}
.buybtn{
    margin: 5px;
    border-radius:5px;
}