/* 导航的样式 */

.lt-nav{
    padding: 10px;
}
.lt-nav li{
    float: left;
    width: 33.3%;
}
.lt-nav li a{
    display: block;
}

/* 产品区域 */
.lt-products{
    padding: 10px;
}
.lt-products li{
    float: left;
    width: 48%;
    border:1px solid #ccc;
    border-radius:10px;    
    background-color: #fff;
    margin-bottom: 10px;
    
}
.lt-products li:nth-child(odd){
    margin-right: 4%;
}
.lt-products li a{
    display: block;
    text-align:center;
    padding: 10px;
}
.lt-products p{
    margin: 0;
}
.lt-products span{
    font-size: 14px;
}
.price{
    color:red;
}
.oldprice{
    text-decoration: line-through;
}
.buybtn{
    margin: 5px;
    border-radius:5px;
}